@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
  --font-raleway: "Raleway", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

.border-card{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
