@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-raleway: "Raleway", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

.border-card{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.1s ease-in-out;
}
.hover-card{
  transition: all 0.2s ease-in-out;
}
.hover-card:hover{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transform: translateY(-4px) scale(1.05);
  cursor: pointer;
}
.hover-up-scale {
  transition: all 0.1s ease-in-out;
}

.hover-up-scale:hover {
  transform: translateY(-4px) scale(1.05);
  cursor: pointer;
}

